<div class="button">
    <%= button_to "Venues", venues_path, method: :get %><br>
    
    <% if current_user %>
        <%= button_to "Profile",'/profile', method: :get %><br>
    <% end %>
    
    <% if current_user %>
        <%= button_to 'Logout', logout_path %><br>
    <% end %>

</div>