<h1>Alphabetical Venues</h1>

<div>
    <ul>
        <% @alphabetical_venues.each do |a| %>
            <li><%= a.name %></li>
        <% end %>
    </ul>
</div>

<%= render partial: "buttons" %>
        