<h1>Users#Show</h2>

<ul>
    <li>Name: <%= @user.name %></li>
    <li>Username: <%= @user.username %></li>
    <li>Email: <%= @user.email %></li>
</ul>

<%= link_to "Create an Event", new_user_event_path %>